body {
  color: #fff;
}
.boxes {
  padding: 0 5% !important;
}
.boxes-1 {
  padding: 2rem;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(images/boxes-2-bg.JPG);
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.boxes-2 {
  padding: 2rem;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(images/boxes-1-bg.JPG);
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.boxes-3 {
  padding: 2rem;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(images/boxes-3-bg.JPG);
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.boxes-4 {
  padding: 2rem;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(images/boxes-4-bg.JPG);
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.boxes-5 {
  padding: 2rem;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(images/boxes-5-bg.JPG);
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

