body {
  color: #fff;
}
.boxes {
  padding: 0 5% !important;
}
.boxes-1 {
  padding: 2rem;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(images/boxes-2-bg.JPG);
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.boxes-2 {
  padding: 2rem;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(images/boxes-1-bg.JPG);
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.boxes-3 {
  padding: 2rem;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(images/boxes-3-bg.JPG);
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.boxes-4 {
  padding: 2rem;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(images/boxes-4-bg.JPG);
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.boxes-5 {
  padding: 2rem;
  min-height: 200vh;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(images/boxes-5-bg.JPG);
    background-position: 70% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
}

figure > * {
  grid-area: 1/1;
  transition: 0.4s;
  width: 100%;
  height: auto;
  object-fit: cover;
}

figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: clamp(2.2rem, 4vw, 1.3rem);
  font-weight: bold;
  color: #0000;
  padding: 1rem;
  background: var(--c, #0009);
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}

figure:hover figcaption {
  --_i: 0%;
}
figure img {
   object-fit: cover;
}
figure:hover img {
  transform: scale(1.2);
}

@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    color: #fff;
  }
}

.figbody {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  place-content: center;
  box-sizing: border-box;
}

